<nav class="py-6 px-6 flex justify-between items-center border-b borsder-gray-200">

    <a hred='#' class="text-xl font-semibold">Puddle</a>
<div class="space-x-6">
<a href="#" class="text-lg font-semibold hover:text-gray-500">
    New Item
</a>

<a href="#" class="text-lg font-semibold hover:text-gray-500">
   Browse
</a>
<a href="{% url 'core:signup' %}" class="px-6 text-lg font-semibold bg-teal-500 py-3 text-white rounded-xl hover:bg-gray-500 text-white rounded-xl hoverbg-teal-700">
Sign up
</a>

<a href="#" class="px-6 text-lg font-semibold bg-gray-500 py-3 text-white rounded-xl hover:bg-gray-500 text-white rounded-xl hoverbg-teal-700">
   Log In
    </a>
</div >

</nav>